In [2]:
import pandas as pd
data={
'empno':['101','102','103','104','105'],
'Ename':['rama','bhima','mahesh','lokesh','praksh'],
'qualification':['BE','Diploma','M.tech','Bsc','Msc'],
'subject':['cs','me','ec','at','ce']
}
df=pd.DataFrame(data)
print(df)

  empno   Ename qualification subject
0   101    rama            BE      cs
1   102   bhima       Diploma      me
2   103  mahesh        M.tech      ec
3   104  lokesh           Bsc      at
4   105  praksh           Msc      ce

In [7]:
# accesing colum in dataframe
print(df['empno'])

print(df[['empno','Ename']])

0    101
1    102
2    103
3    104
4    105
Name: empno, dtype: object
  empno   Ename
0   101    rama
1   102   bhima
2   103  mahesh
3   104  lokesh
4   105  praksh

In [10]:
df['salary']=[6000,8000,7000,900,4000]
print(df)

  empno   Ename qualification subject  salary
0   101    rama            BE      cs    6000
1   102   bhima       Diploma      me    8000
2   103  mahesh        M.tech      ec    7000
3   104  lokesh           Bsc      at     900
4   105  praksh           Msc      ce    4000

In [16]:
df['age']=[25,30,40,15,20]
print(df)

  empno   Ename qualification subject  salary  age
0   101    rama            BE      cs    6000   25
1   102   bhima       Diploma      me    8000   30
2   103  mahesh        M.tech      ec    7000   40
3   104  lokesh           Bsc      at     900   15
4   105  praksh           Msc      ce    4000   20

In [17]:
young_people=df[df['age']<30]
print(young_people)

  empno   Ename qualification subject  salary  age
0   101    rama            BE      cs    6000   25
3   104  lokesh           Bsc      at     900   15
4   105  praksh           Msc      ce    4000   20

In [18]:
sorted_df=df.sort_values(by='age')
print(sorted_df)

  empno   Ename qualification subject  salary  age
3   104  lokesh           Bsc      at     900   15
4   105  praksh           Msc      ce    4000   20
0   101    rama            BE      cs    6000   25
1   102   bhima       Diploma      me    8000   30
2   103  mahesh        M.tech      ec    7000   40