In [3]:
import pandas as pd
import numpy as np
student=pd.read_csv("C:\\Users\\GPT BANTWAL\\Documents\\stundent.csv")
print(student)

   student id student name
0      2345.0        akash
1      5678.0         asha
2      9876.0      bhavana
3      4567.0        vidya
4         NaN        vinay

In [6]:
mark=pd.read_csv("C:\\Users\\GPT BANTWAL\\Documents\\mark.csv")
print(mark)

   student id  m1  m2  m3
0        2345  40  66  33
1        5678  60  15  20
2        9876  80  77  69
3        4567  90  23  85

In [7]:
df_merge=pd.merge(student,mark,on='student id')
df_merge

   student id student name  m1  m2  m3
0      2345.0        akash  40  66  33
1      5678.0         asha  60  15  20
2      9876.0      bhavana  80  77  69
3      4567.0        vidya  90  23  85