In [4]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [8]:
dfr=pd.read_csv('C:\\Users\\GPT BANTWAL\\result.csv')
dfr

        sname  srollno  marks       result
0     sandhya       23     90   distiction
1  rashmitgha       45     56   secnd pass
2  prathiksha       32     33         fail
3     shruthi       12     78  first class
4    suraksha       53     99   distiction

In [9]:
dfr['result'].unique()

array(['distiction', ' secnd pass', 'fail', 'first class'], dtype=object)

In [10]:
pd.get_dummies(dfr['result'])

    secnd pass  distiction  fail  first class
0            0           1     0            0
1            1           0     0            0
2            0           0     1            0
3            0           0     0            1
4            0           1     0            0