In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\\GPT BANTWAL\\AI LAB2\\weather.csv')
df

        date   temparature         city  humidity
0  20-08-2020           70      bantwal        23
1  21-08-2020           50    mangalore        22
2  22-08-2020           30  punjlakatte        65
3  23-08-2020           60       moorje        89
4  24-08-2020           80      Nc road        90
5  25-08-2020           65    bangalore        29