In [1]:
import pandas as pd
df=pd.read_csv('C:\\Users\\GPT BANTWAL\\AI LAB2\\weather.csv')
df

        date   temparature         city  humidity
0  20-08-2020           70      bantwal        23
1  21-08-2020           50    mangalore        22
2  22-08-2020           30  punjlakatte        65
3  23-08-2020           60       moorje        89
4  24-08-2020           80      Nc road        90
5  25-08-2020           65    bangalore        29

In [4]:
df.pivot(index="temparature",columns="city")

                  date                                                   \
city            Nc road   bangalore     bantwal   mangalore      moorje
temparature
30                  NaN         NaN         NaN         NaN         NaN
50                  NaN         NaN         NaN  21-08-2020         NaN
60                  NaN         NaN         NaN         NaN  23-08-2020
65                  NaN  25-08-2020         NaN         NaN         NaN
70                  NaN         NaN  20-08-2020         NaN         NaN
80           24-08-2020         NaN         NaN         NaN         NaN

                        humidity                                     \
city        punjlakatte  Nc road bangalore bantwal mangalore moorje
temparature
30           22-08-2020      NaN       NaN     NaN       NaN    NaN
50                  NaN      NaN       NaN     NaN      22.0    NaN
60                  NaN      NaN       NaN     NaN       NaN   89.0
65                  NaN      NaN      29.0     NaN       NaN    NaN
70                  NaN      NaN       NaN    23.0       NaN    NaN
80                  NaN     90.0       NaN     NaN       NaN    NaN


city        punjlakatte
temparature
30                 65.0
50                  NaN
60                  NaN
65                  NaN
70                  NaN
80                  NaN